@model List<BlogAspNet2.Models.PostModel>

<h2>Search Results</h2>


    @for (int i = Model.Count - 1; i >= 0; i--)
    {
        

            <div class="col-sm-4">
                @if (i % 2 == 1)
                {
                    <div class="row p-3 mb-2 blogPostslight">
                        <a asp-controller="Home" asp-action="SelectSinglePost" asp-route-postId="@Model[i].Id">
                            <h3>@Model[i].Title</h3>
                        </a>
                        <p>Written at: @Model[i].Datetime Category: @Model[i].FkCategory.Name</p>
                    </div>

                }
                @if (i % 2 == 0)
                {
                    <div class="row p-3 mb-2 blogPostsdark">
                        <a asp-controller="Home" asp-action="SelectSinglePost" asp-route-postId="@Model[i].Id">
                            <h3>@Model[i].Title</h3>
                        </a>
                        <p>Written at: @Model[i].Datetime Category: @Model[i].FkCategory.Name</p>
                    </div>
                }
            </div>

        
    }

