@model List<BlogAspNet2.Models.PostModel>



@for (int i = Model.Count - 1; i >= 0; i--)
{

    <div class="col-sm-12">
        @if (i % 2 == 1)
        {
            <div class="row p-3 mb-2 blogPostslight">
                <a asp-controller="Home" asp-action="SelectSinglePost" asp-route-postId="@Model[i].Id">
                    <h3>@Model[i].Title</h3>
                </a>
                <p>Written at: @Model[i].Datetime Category: @Model[i].FkCategory.Name</p>
            </div>

        }
        else
        {
            <div class="row p-3 mb-2 blogPostsdark">
                <a asp-controller="Home" asp-action="SelectSinglePost" asp-route-postId="@Model[i].Id">
                    <h3>@Model[i].Title</h3>
                </a>
                <p>Written at: @Model[i].Datetime Category: @Model[i].FkCategory.Name</p>
            </div>
        }

    </div>

}





